:root{
    --main-content: #141922;
    --footer: #282828;
    --main-header: rgba(8,11,18,0.5);
    --marker: #ADFF2F;
} */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Generics */


/* Utils */
html{
  overflow: hidden;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


/***************************
MEDIA QUERY
****************************/
@media screen and (min-width: 576px){
  
}

@media screen and (min-width: 768px){
  
}

@media screen and (min-width: 992px){
  
}