:root{
    --main-content: #141922;
    --footer: #282828;
    --main-header: rgba(8,11,18,0.5);
    --marker: #ADFF2F;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Generics */
/***************************
Main
****************************/
.sidebar{
  width: 220px;
  flex-shrink: 0;
  height: calc(100vh - 100px);
  background-color: #000;
}

.main-content{
  flex-grow: 1;
  background-color: var(--main-content);
  overflow-y: scroll;
}

/***************************
Interno Sidebar
****************************/
#logo{
  margin: 20px;
}

#logo img{
  width: 60%;
  height: 60%;
}

.action li{
  list-style-type: none;
}

.action a{
  text-decoration: none;
  color: #626262;
}

.action .description{
  line-height: 40px;
}

.playlist{
  margin: 20px;
  color: #626262;
}

.playlist h4{
  color: #fff;
  margin-bottom: 20px;
}

.playlist .add-playlist{
  background-color: #626262;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.add-playlist span{
  font-size: 30px;
  color: #000;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.name-playlist{
  height: 245px;
  overflow-y: overlay;
}

.name-playlist li{
  list-style-type: none;
  line-height: 30px;
  font-size: 15px;
}

.name-playlist a{
  text-decoration: none;
  color: #626262;
}

.download{
  color: #626262;
  margin: 0 20px;
  font-size: 15px;
}

.fa-arrow-down{
  font-size: 12px;
  border: 2px solid #626262;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.id{
  border-top: 1px solid #626262;
  margin: 0 20px;
}

.profile{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #626262;
  border-radius: 50%;
}

.id h4{
  color: #fff;
  margin-top: 20px;
}

/***************************
Interno Main-content
****************************/
header{
  width: calc(100vw - 220px);
  height: 100px;
  background-color: var(--main-header);
  position: fixed;
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
}

.upgrade{
  margin-right: 40px;
}

.upgrade a{
  text-decoration: none;
  color: #fff;
}

.upgrade h4{
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px;
}

.sidebar-main-content ul{
  list-style-type: none;
}

.sidebar-main-content ul li a{
  text-decoration: none;
  color: #626262;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.album{
  position: relative;
}

.album-img{
  height: 200px;
  width: 200px;
}

.description-album{
  text-align: center;
}

h4.mb-10{
  width: 200px;
}

div.info-album{
  color: #626262;
  font-size: 13px;
  font-weight: bold;
}

.player{
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  visibility: hidden;
}

.fa-play-player{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 15px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.album-img-rounded{
  border-radius: 50%;
} 

/***************************
Footer
****************************/
.album-footer{
  margin: 10px 20px;
}

.img-album-footer{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

div.title-music{
  height: 60px;
  margin: 10px 0;
  padding: 10px 0;
  margin-right: 20px;
}

.info-album-footer{
  color: #626262;
  font-size: 13px;
  font-weight: bold;
}

.badge{
  line-height: 60px;
  padding: 10px 0;
}

.badge .fa-heart{
  margin-right: 10px;
}

.control-music{
  color: #fff;
  font-size: 15px;
  display: block;
}

.fa-shuffle, .fa-forward-step, .fa-rotate-right{
  margin-right: 15px;
  line-height: 39px;
}

.fa-backward-step{
  line-height: 39px;
}

.fa-backward-step, .fa-play{
  margin-right: 20px;
}

.timeline{
  display: inline-block;
  background-color: #626262;
  width: 500px;
  height: 5px;
  border-radius: 5px;
  margin: 0 20px;
}

.time{
  background-color: #fff;
  width: 30%;
  height: 5px;
  border-radius: 5px;
  position: relative;
}

.pointer-time{
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.fa-play{
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.control-volume{
  color: #fff;
  font-size: 15px;
}

.fa-list, .fa-display, .fa-volume-high{
  margin-right: 15px;
}

.percent-volume{
  display: inline-block;
  background-color: #626262;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  margin-right: 20px;
}

/***************************
Action  hover
****************************/
.action li a:hover{
  border-left: 3px solid var(--marker);
}

.img-icon:hover, .description:hover,
.name-playlist a:hover{
  filter: brightness(1);
  color: #fff;
}

.playlist .add-playlist:hover{
  background-color: #fff;
}

.name-playlist li a:hover{
  border-left: 3px solid var(--marker);
}

.fa-arrow-down:hover, .installer:hover{
  color: #fff;
} 

.upgrade:hover{
  transform: scale(1.1);
}

.sidebar-main-content ul li a:hover{
  border-bottom: 3px solid var(--marker);
}

.sidebar-main-content a:hover{
  color: #fff;
}

.album:hover .player{
  visibility: visible;
  cursor: pointer;
}

.album:hover{
  cursor: pointer;
}

.info-album-footer:hover{
  text-decoration: underline;
  color: #fff;
}

.control-music:hover, 
.control-volume:hover{
  cursor: pointer;
}

.fa-play-footer:hover{
  transform: scale(1.1);
}

.time:hover{
  background-color: #ADFF2F;
  cursor: pointer;
}

.time:hover .pointer-time{
  visibility: visible;
}

/* Utils */
html{
  overflow: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-end{
  justify-content: flex-end;
}

footer{
  width: 100vw;
  height: 100px;
  background-color: var(--footer);
  position: fixed;
  z-index: 2;
}

.img-icon{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
  filter: brightness(0.5);
}

.sidebar-main-content{
  padding-top: 120px;
}

.text-white{
  color: #fff;
}


/*******************************
MARGIN BOTTOM
********************************/
.mb-50{
  margin-bottom: 50px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-10{
  margin-bottom: 10px;
}


/***************************
MEDIA QUERY
****************************/
@media screen and (min-width: 576px){
  .sidebar{
    width: 80px;
    text-align: center;
  }

  .main-content{
    height: calc(100vh - 100px);
  }

  header{
    width: calc(100vw - 80px);
  }

  .logo-big{
    display: none;
  }

  .description{
    display: none;
  }

  .action a{
    justify-content: center;
  }

  .img-icon{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .playlist{
    visibility: hidden;
    margin-bottom: 100px;
  }

  .id{
    border-top: 0px;
    margin: 0 20px;
  }

  .installer{
    display: none;
  }

  .id .flex{
    justify-content: center;
  }

  .id h4{
    display: none;
  }

  .profile{
    margin-top: 0;
    margin-right: 0;
  }

  .sidebar-main-content ul{
    flex-wrap: wrap;
  }

  .sidebar-main-content ul li{
    margin-bottom: 20px;
  }

  .container{
    max-width: 470px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .column{
    width: calc(100% / 2);
    padding: 10px;
  }

  .row-footer{
    display: flex;
    margin: 0 -10px;
  }

  .column-footer{
    width: calc(100% / 3);
    padding: 10px;
  }

  .badge{
    line-height: 0;
    padding: 23px 0;
  }

  .fa-heart{
    margin-bottom: 5px;
    margin-right: 0;
  }

  .album-footer{
    margin-right: 0;
  }
}

@media screen and (min-width: 768px){
  .sidebar{
    width: 220px;
    text-align: left;
  }

  header{
    width: calc(100vw - 220px);
  }

  .main-content{
    width: calc(100vw - 220px);
  }

  .container{
    max-width: 500px;
  }

  .logo-small{
    display: none;
  }

  .logo-big{
    display: block;
  }

  .action a{
    justify-content: flex-start;
  }

  .img-icon{
    margin-left: 20px;
    margin-right: 10px;
  }

  .description{
    display: inline-block;
  }

  .playlist{
    visibility: visible;
    margin-bottom: 70px;
  }

  .id{
    border-top: 1px solid #626262;
    margin: 0 20px;
  }

  .installer{
    display: inline-block;
  }

  .id .flex{
    justify-content: flex-start;
  }

  .id h4{
    display: inline-block;
  }

  .profile{
    margin-top: 20px;
    margin-right: 10px;
  }

  .album-footer{
    margin: 10px 20px;
  }
}

@media screen and (min-width: 992px){
  header{
    width: calc(100vw - 220px);
  }

  .playlist{
    visibility: visible;
  }

  .name-playlist{
    margin-bottom: 30px;
  }

  .container{
    max-width: 730px;
  }

  .row{
    margin: 0 -18px;
  }

  .column{
    width: auto;
    padding: 18px;
  }

  .album-img{
    width: 150px;
    height: 150px;
  }

  .player{
    width: 150px;
    height: 150px;
  }

  h4.mb-10{
    width: 150px;
  }

  .description-album{
    width: 150px;
  }

  .badge{
    line-height: 60px;
    margin-bottom: 0;
    padding: 10px 0;
  }

  .fa-heart{
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px){
  .name-playlist{
    margin-bottom: 40px;
  }

  header{
    width: calc(100vw - 220px);
  }

  .container{
    max-width: 940px;
  }
}

@media screen and (min-width: 1700px){
  .playlist{
    visibility: visible;
    margin-bottom: 200px;
  }

  .name-playlist{
    margin-bottom: 250px;
  }

  .container{
    max-width: 1600px;
  }

  .row{
    margin: 0 -10px;
  }

  .column{
    width: calc(100% / 6);
    padding: 10px;
  }

  .album-img{
    width: 200px;
    height: 200px;
  }

  .player{
    width: 200px;
    height: 200px;
  }

  h4.mb-10{
    width: 200px;
  }

  .description-album{
    width: 200px;
  }
}