:root{
    --main-content: #141922;
    --footer: #282828;
    --main-header: rgba(8,11,18,0.5);
    --marker: #ADFF2F;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Generics */
/***************************
Main
****************************/
.sidebar{
  width: 15vw;
  height: 85vh;
  background-color: #000;
}

.main-content{
  width: 85vw;
  height: 85vh;
  background-color: var(--main-content);
  overflow-y: scroll;
  overflow-x: hidden;
}




/* Utils */
html{
  overflow: hidden;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

main{
  width: 100vw;
  height: 85vh;
}

footer{
  width: 100vw;
  height: 15vh;
  background-color: var(--footer);
}


/***************************
MEDIA QUERY
****************************/
@media screen and (min-width: 576px){
  
}

@media screen and (min-width: 768px){
  .sidebar{
    width: 30vw;
  }
}

@media screen and (min-width: 992px){
  
}

@media screen and (min-width: 1200px){
  .sidebar{
    width: 15vw;
  }
}